<%= form_for @user_comment, class:"row" do |f| %>
  <div class="col-12">
    <div class="form-group">
      <%= f.label :comment_text %>
      <%= f.text_area :comment_text, class:"form-control" %><br />
    </div>
  </div>
  <div class="col-12">
    <%= f.submit "Post", class: "btn btn-primary",style: "float: right;" %>
  </div>
<% end %>
<div class="clearfix"></div>
<div class="form-inline">
  <div class="form-group  col-2">
    <%= label_tag :time_slot %>
  </div>
  <div class="form-group  col-7">
    <%= number_field_tag :time_slot, @time_slot, class:"form-control col-12", min:1, max:30 %><br />
  </div>
    <button type="button" id="set_interval" class="btn btn-primary col-3">Set Interval</button>
</div>
